:root {
 /* ===== COLOR PRINCIPAL ===== */
  --primario: #fcb900;;
  --primario-light: #F4BC91;
  --primario-dark: #ff6900;

  /* ===== SECUNDARIOS ===== */
  --secundario: #4F6D8A;        
  --secundario-light: #8FA9C4;  
  --secundario-dark: #2E4A62;   

  /* ===== Borders ===== */
  --borde: #ccc;
  --bg-card: #FFFDFB;
  --bg-dark: #ECE6DE;
  --bg-blanco: #FFFFFF;

  /* ===== TEXTOS ===== */
  --texto: #3C3A37;
  --texto2: #000;
  --texto-blanco: #fff;
  --texto-light: #9B948D;
}

