/* Etiquetas globales */
h1 {
  font-size: 5em;
  font-family: 'Saira Stencil', sans-serif;
  font-optical-sizing: auto;
  color: var(--primario-dark);
  font-weight: 400;
  text-align: center;
  background-color: transparent;
}

h2 {
  font-size: 2.5em;
  font-family: 'Saira Stencil', sans-serif;
  font-optical-sizing: auto;
  color: var(--primario-dark);
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 1.25em;
  font-family: 'quicksand', sans-serif;
  color: var(--primario-dark);
}

h4 {
  font-size: 0.8rem;
  font-family: 'quicksand', sans-serif;
  color: var(--secundario-dark);
}

/* ===== Botón Volver ===== */
.VolverAlInicio {
  text-align: center;
}

.VolverAlInicio a {
  display: inline-block;
  padding: 10px 20px;
  background: var(--primario-dark);
  font-family: 'quicksand', sans-serif;
  color: var(--texto-blanco);
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s;
}

.VolverAlInicio a:hover {
  background: var(--secundario-dark);
}

/* ===== Sección 1: Hero ===== */

h1 + p {
  font-size: 2em;
  font-family: 'quicksand', sans-serif;
  color: var(--secundario-dark);
  text-align: center;
  background-color: transparent;
}

.hero-content {
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ===== Sección 2: Productos Mas Vendidos ===== */

.ProductosMasVendidos {
  padding: 10px;
}

.ProductosMasVendidos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 10px;
}

/* ===== CARD ===== */
.card {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 280px;
  border-radius: 12px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  box-shadow: 0 6px 5px var(--secundario-dark);
}

.card:hover {
  transform: translateY(-5px);
}

/* ===== CONTENIDO ===== */
.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card-content h4 {
  margin-bottom: 10px;  
}

.card-content p {
  font-size: 0.8em;
  font-family: 'quicksand', sans-serif;
  color: var(--texto);
  margin-bottom: 15px;
  text-align: left;
}

.card-content a {
  font-family: 'Quicksand', sans-serif;
  color: var(--primario-dark);
  font-weight: 600;
  font-size: 0.8em;
  text-decoration: none;
}

.card-content a:hover {
  color: var(--secundario-dark);
}

/* ===== Sección 3: Contacto ===== */

.Contacto {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1em;
  padding: 0 1.5em;
}

/* Header */
.ContactoHeader {
  grid-row: 1;
  text-align: center;
}

/* Main */
.ContactoMain {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.ContactoMain h3 {
  font-size: 1.25em;
  font-family: 'Saira Stencil', sans-serif;
  text-align: center;
  font-weight: 300;
  color: var(--primario-dark);
}

.ContactoMain p {
  font-size: 0.9em;
  font-family: 'quicksand', sans-serif;
  color: var(--texto);
  text-align: center;
}

/*Footer*/
.ContactoFooter {
  grid-row: 3;
}

.ContactoFooter p {
  margin: 0;
}

/* COLUMNA IZQUIERDA (ubicación + mapa) */
.UbicacionContenedor {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/*Mapa*/
.MapaContainer {
  display: flex;
  justify-content: center;
}

.Mapa {
  width: 50%;
  height: 50%;
  min-height: 300px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 6px 5px var(--secundario-dark);
}

/* COLUMNA DERECHA (formulario) */
.ContactoContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* FORM */
.contactForm {
  display: flex;
  flex-direction: column;
  font-family: 'quicksand', sans-serif;
  font-size: 1em;
  color: var(--texto);
  gap: 0.8rem;
}

.contactForm input,
.contactForm textarea,
.contactForm select,
#terminos {
  padding: 0.6em;
  border-radius: 6px;
  border: 1px solid var(--borde);
  font-family: 'quicksand', sans-serif;
  font-size: 0.8em;
  color: var(--texto);
}

#enviar {
  width: fit-content;
  align-self: center;
  display: inline-block;
  padding: 10px 20px;
  background: var(--primario-dark);
  font-family: 'quicksand', sans-serif;
  color: var(--texto-blanco);
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s;
}

#enviar:hover {
  background: var(--secundario-dark);
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content {
    height: 40vh;
    width: 100%;
  }

  h1 {
    font-size: 2.5em;
  }

  h1 + p {
    display: none;
  }
  h2 {
    font-size: 1.5em;
  }
  .ContactoMain {
    grid-template-columns: 1fr;
  }
  .ContactoMain p {
    display: none;
  }
  .Mapa {
    width: 100%;
  }
}