footer {
  margin: 1em 0;
  padding: 0 1.5em;
  border-top: 1px solid var(--borde);
  font-family: 'Quicksand', sans-serif;
}

.Footer1 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.Footer1 h4 {
  font-size: 1em;
  margin-bottom: 0.5em;
  color: var(--primario-dark);
  text-decoration: underline var(--primario);
  font-family: 'Saira Stencil', sans-serif;
}
.Footer1 p{
  color: var(--texto);
  font-size: 0.8em;
}

.Footer1 .columna {
  flex: 1;
  min-width: 250px;
}

/* REDES ICONOS */

.social-buttons {
  display: flex;
  gap: 1em;
}

.social-buttons a {
  font-size: 1.5em;
  color: var(--secundario-dark);
}

.social-buttons a:hover {
  color: var(--primario-dark);
}

/* NEWSLETTER */

.newsletter-form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.newsletter-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--borde);
  color: var(--secundario-dark);
  border-radius: 6px;
  outline: none;
  font-family: 'Quicksand', sans-serif;
}

.newsletter-form button {
  background: var(--primario-dark);
  border: none;
  padding: 10px 15px;
  color: var(--texto-blanco);
  font-family: 'Quicksand', sans-serif;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter-form button:hover {
  background: var(--secundario-dark);
}

.Footer2 {
  border-top: 1px solid var(--borde);
  margin-top: 1em;
  padding: 0.8em 0 0 0;
  font-size: 1em;
  color: var(--texto);
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  footer {
    padding: 0;
  }
  .Footer1 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Footer2 {
    align-items: center;
  }
}